In [ ]:
import pandas as pd
import pandas as pd
a = ["Jwalitha", 'Ramya',
'Durga','Jahnavi','Lahari','Sunny','Dhanush']
r = pd.Series(a, index = [67,43,44,89,34,45,23])
print(r)

67    Jwalitha
43       Ramya
44       Durga
89     Jahnavi
34      Lahari
45       Sunny
23     Dhanush
dtype: object

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/grades_withnulls.csv")
print(df)

     Names Initials  SEM1  SEM2  SEM3 Grade  Placed
0      Joe        K   9.8  10.0   9.9    A+       1
1   Rajesh        M   8.9   9.1   9.3     A       1
2   Kissan        V   9.9   9.8  10.0     A       0
3     Mary        N   7.7   8.0   NaN     B       0
4     Jeen        K   9.8   9.1   9.9    A+       1
5      Raj        M   8.9   9.1   9.3     A       1
6   Hassan        V   9.9   9.0   9.2     A       1
7     Mari        N   7.7   8.0   7.1     B       1
8     Jess        K   NaN   9.1   9.9    A+       1
9   Rajini        M   NaN   9.1   9.3     A       0
10   Kiran        V   NaN   9.3   9.2     A       0
11    Maya        N   7.7   8.0   7.1     B       0
12   Jolin        K   9.8   9.1   9.9    A+       1
13  Rajesh        M   8.9   9.1   9.3     A       1
14    Riya        M   9.3   9.9  10.0     A       1
15    Sana        V   9.9   9.3   9.2     A       0
16    Mark        N   7.7   8.0   7.0     B       0

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/grades_withnulls.csv", sep=" ")
print(df)

   Names,Initials,SEM1,SEM2,SEM3,Grade,Placed
0                       Joe,K,9.8,10,9.9,A+,1
1                    Rajesh,M,8.9,9.1,9.3,A,1
2                     Kissan,V,9.9,9.8,10,A,0
3                        Mary,N,7.7,8,NaN,B,0
4                     Jeen,K,9.8,9.1,9.9,A+,1
5                       Raj,M,8.9,9.1,9.3,A,1
6                      Hassan,V,9.9,9,9.2,A,1
7                        Mari,N,7.7,8,7.1,B,1
8                     Jess,K,NaN,9.1,9.9,A+,1
9                    Rajini,M,NaN,9.1,9.3,A,0
10                    Kiran,V,NaN,9.3,9.2,A,0
11                       Maya,N,7.7,8,7.1,B,0
12                   Jolin,K,9.8,9.1,9.9,A+,1
13                   Rajesh,M,8.9,9.1,9.3,A,1
14                      Riya,M,9.3,9.9,10,A,1
15                     Sana,V,9.9,9.3,9.2,A,0
16                         Mark,N,7.7,8,7,B,0

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/diabetcsv (2).csv")
print(df.describe)

<bound method NDFrame.describe of      preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]>

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/diabetes (1) (1).xlsx",sheet_name=1)
print(df)

  Dead Alive
0  yes    no
1  yes    no
2  yes    no
3  yes    no
4  yes    no

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/grades_withnulls.csv", sep=" ")
print(df.head())
print(df.tail(n=10))

  Names,Initials,SEM1,SEM2,SEM3,Grade,Placed
0                      Joe,K,9.8,10,9.9,A+,1
1                   Rajesh,M,8.9,9.1,9.3,A,1
2                    Kissan,V,9.9,9.8,10,A,0
3                       Mary,N,7.7,8,NaN,B,0
4                    Jeen,K,9.8,9.1,9.9,A+,1
   Names,Initials,SEM1,SEM2,SEM3,Grade,Placed
7                        Mari,N,7.7,8,7.1,B,1
8                     Jess,K,NaN,9.1,9.9,A+,1
9                    Rajini,M,NaN,9.1,9.3,A,0
10                    Kiran,V,NaN,9.3,9.2,A,0
11                       Maya,N,7.7,8,7.1,B,0
12                   Jolin,K,9.8,9.1,9.9,A+,1
13                   Rajesh,M,8.9,9.1,9.3,A,1
14                      Riya,M,9.3,9.9,10,A,1
15                     Sana,V,9.9,9.3,9.2,A,0
16                         Mark,N,7.7,8,7,B,0

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/diabetcsv (2).csv")
print(df.describe)

<bound method NDFrame.describe of      preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]>

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/onlynum (1).txt", sep=" ")
print(df.describe().T)

    count  mean        std   min   25%   50%   75%   max
C1    5.0  74.8  15.023315  56.0  63.0  78.0  85.0  92.0
C2    5.0  78.6   9.343447  67.0  72.0  79.0  85.0  90.0
C3    5.0  53.8   5.403702  48.0  50.0  54.0  55.0  62.0
C4    5.0   0.4   0.547723   0.0   0.0   0.0   1.0   1.0

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/onlynum (1).txt", sep=" ")
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(5, 4)
5
4

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/onlynum (1).txt", sep=" ")
print(df.columns)

l1 = list(df.columns)
print(l1)

Index(['C1', 'C2', 'C3', 'C4'], dtype='object')
['C1', 'C2', 'C3', 'C4']

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/onlynum (1).txt", sep=" ")
df2 = df.copy()
df2.loc[2:5,'SEM1'] = None
df2.head(7)

   C1  C2  C3  C4  SEM1
0  92  90  54   0   NaN
1  56  67  50   1   NaN
2  78  85  62   0  None
3  63  72  48   1  None
4  85  79  55   0  None

In [ ]:
df2.isnull().head(7)

      C1     C2     C3     C4  SEM1
0  False  False  False  False  True
1  False  False  False  False  True
2  False  False  False  False  True
3  False  False  False  False  True
4  False  False  False  False  True

In [ ]:
print(df2.isnull().sum())

C1      0
C2      0
C3      0
C4      0
SEM1    5
dtype: int64

In [ ]:
print(df2.isnull().sum().sum())

5

In [ ]:
print(df[df.index==1])

   C1  C2  C3  C4
1  56  67  50   1

In [ ]:
print(df[df.index.isin(range(2,5))])

   C1  C2  C3  C4
2  78  85  62   0
3  63  72  48   1
4  85  79  55   0

In [ ]:
print(df2.loc[1])

C1       56
C2       67
C3       50
C4        1
SEM1    NaN
Name: 1, dtype: object

In [ ]:
df2.loc[6:11]

Empty DataFrame
Columns: [C1, C2, C3, C4, SEM1]
Index: []

In [ ]:
df2.iloc[10:14, :3]

Empty DataFrame
Columns: [C1, C2, C3]
Index: []

In [ ]:
df3 = df2.copy()

In [ ]:
df3.dropna(inplace=True, axis=1)

In [ ]:
df3.dropna(inplace=True, how='all')

In [ ]:
dfn[['3rdsem', '2ndsem']].plot.line()

NameError: name 'dfn' is not defined